@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor0: #FB6262;
    --cor1: #FB6262;
    --cor2: #FA1717;
    --cor3: #C71212;
    --cor4: #7A0B0B;
    --cor5: #7A3030;

    --font-titulo: 'Bebas Neue', sans-serif;
    --font-padrao: 'Roboto Mono', monospace;  
}

main section {
    padding-top: 30px;
}

main section.matriculeSe {
    text-align: center;
}

main section.matriculeSe a {
    background-color: var(--cor1);
    border-radius: 10px;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    transition: 0.2s;
}

main section.matriculeSe a:hover {
    background-color: var(--cor2);
    font-size: 2.0em;
}


main strong {
    background-color: var(--cor1);
    border-radius: 5px;
    color: white;
    padding: 5px;
}

main h2 {
    font-size: 1.7em;
    padding-bottom: 10px;
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main img{
    width: 100%;
    max-height: 400px;
}
